{% extends 'admin_panel/layouts/base.html' %}

{% block title %}Departments{% endblock %}

{% block content %}

<div class="flex justify-between items-center mb-6">

    <h1 class="text-3xl font-bold">
        Departments
    </h1>

    <a href="{% url 'department_create' %}"
       class="bg-blue-600 text-white px-5 py-2 rounded-lg">

        Add Department

    </a>

</div>

<table class="w-full border-gray-200 rounded-lg shadow">

    <thead>

        <tr class="bg-blue-600">

            <th class="p-5">Department Code</th>

            <th>Department Name</th>

            <th>Status</th>

            <th>Actions</th>

        </tr>

    </thead>

    <tbody>

    {% for department in departments %}

        <tr class="border-b">

            <td class="p-3">

                {{ department.code }}

            </td>

            <td>

                {{ department.name }}

            </td>

            <td>

                {{ department.is_active }}

            </td>

            <td>

                <a href="{% url 'department_edit' department.id %}">

                    Edit

                </a>

                |

                <a href="{% url 'department_delete' department.id %}">

                    Delete

                </a>

            </td>

        </tr>

    {% empty %}

        <tr>

            <td colspan="4" class="text-center p-5">

                No Departments Found

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}